body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
 
  background-color: #849d8f;
  /*временно
  background-image: url("../img/gllacy-index.jpg");
  background-repeat: no-repeat;
  background-size: 1200px auto;*/
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
}

.catalog-navigation,
.user-navigation,
.contacts {
  font-size: 14px;
  line-height: 16px;
}

.contacts {
  text-align: right;
}

.phone {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.site-navigation,
.catalog-navigation,
.user-navigation,
.slider-item,
.slide-switches,
.catalog-list,
.about-us-list,
.social-list,
.documents-list,
.breadcrumbs,
.filter-options,
.pagination-list {
  list-style: none;
}

.user-navigation a {
	font-weight: 500;
	text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.catalog-navigation a {
  font-weight: 400;
  color: #323232;
  text-decoration: none;

  background-color: #f8f7f4;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #333333;

	background-color: #f7f6f3;
}

.site-navigation a:active {
	color: #323232;

	background-color: #ededed;
	box-shadow: inset 0px 2px 1px 0 #696969;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
	background-color: #fbded7;
}

.catalog-navigation a:active {
  background-color: #f6b5a5;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;

  background-color: #f8f7f4;
}

a.user-help-item {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
	text-decoration: underline;
}

a.user-help-item:hover,
a.user-help-item:focus,
a.user-help-item:active,
a.new-article:hover,
a.new-article:focus,
a.new-article:active,
.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active,
.documents-list a:hover,
.documents-list a:focus,
.documents-list a:active,
a.copyright:hover,
a.copyright:focus,
a.copyright:active,
.pagination-item a:hover,
.pagination-item a:focus
.pagination-item a:active {
  color: #e84d37;
}

.login-form {
  width: 277px;
  height: 214px;

	background-color: #f8f7f4;
}

.slider-title {
	font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;

	margin: -1px;
}

.button {
  height: 44px;
	font-size: 18px;
  line-height: 24px;
	font: inherit;
	color: #ffffff;
	text-decoration: none;

	background: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.big-button {
	font-size: 32px;
  line-height: 44px;
}

.button:hover,
.button:focus {
	background: linear-gradient(to top, #e74a35, #f26843), 
	            linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
	box-shadow: 0px 2px 2px 0 #ac1000;
}

.banner-title {
	font-size: 35px;
  line-height: 41px;
}

.banner-text {
	font-size: 18px;
  line-height: 22px;
}

.catalog-item-title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
	color: #ffffff;
}

.catalog-item-cost {
  font-size: 45px;
  line-height: 45px;
}

.catalog-item-weight {
  font-size: 30px;
  line-height: 45px;
}

.about-us-title {
  font-weight: 500;
  color: #323232;  
}

.about-us-text {
	font-weight: 400;
  color: #323232;
  width: 476px;
}

.blog-title {
	font: inherit;
  font-weight: 500;
  color: #323232;
}

.new-article {
	font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.sub-text {
	font-weight: 400;
	color: #5a5a5a;	
}

.modal-feedback-form {
	width: 448px;
	min-height: 443px;

	background-color: #f8f7f4;
}

.feedback-form-title {
	font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-text-mini {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

address {
	font-size: 18px;
  line-height: 24px;
  color: #323232;
  font-style: normal;
}

.feedback-phone {
  font-size: 18px;
  line-height: 22px;
  color: #323232;
  text-decoration: none;
}

.feedback-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.documents-list a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.footer-copyright a,
.footer-copyright span {
	font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}
.raspberries-free {
	min-height: 229px;
  margin-left: 27px;

  background-color: #661122;
	background-image: url("../img/banner-1.jpg");
  background-repeat: no-repeat;  
}

.chocolate-free {
  min-height: 229px;
  margin-right: 27px;

	background-color: #452b1f;
	background-image: url("../img/banner-2.jpg");
  background-repeat: no-repeat;
}

.about-us {
  display: flex;
  flex-direction: column;

	width: 1125px;
	min-height: 306px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 27px;
  padding-top: 5px;
  padding-left: 21px;
  
  background-color: #ede1c7;
  background-image: url("../img/about-us.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
	}

.blog {
  width: 540px;
  min-height: 220px;
  margin-left: 27px;
  padding-top: 5px;
  padding-left: 20px;

  background-color: #ffffff;
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.sub {
  width: 520px;
	min-height: 220px;
  margin-right: 27px;
  padding: 0 20px;

	background-color: #f8f7f4;
  border-radius: 10px;
}

.email-to-sub {
  width: 368px;
  height: 44px;
  padding-left: 15px;

  border-radius: 5px;
}

.basket-list {
	width: 540px;
	height: 242px;

	background-color: #f8f7f4;
}

.basket-list {
	font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.cost-a-kilo {
	color: #999999;
}

.total-sum {
	font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.page-title {
	font-size: 35px;
  line-height: 41px;
}

.sorting-name {
	font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.pagination-item a {
	font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.pagination-item-current a {
	color: #323232;
	background-color: #ffffff;
}

input,
textarea {
	border: 1px solid rgba(178, 178, 178, 0.52);
}

.login-form input {
	border: 1px solid #d3d3d2;
}

.main-header {
  width: 1200px;
  margin: 9px 0;
  padding-bottom: 230px;
}

.main-navigation {
  display: flex;
}

.contacts {
  display: flex;
  justify-content: flex-end;
}

.mode {
  width: 167px;
  margin: 0;
  margin-right: 27px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 24px;
  margin-left: 27px;
}

.site-navigation {
  width: 349px;
  margin: 0;
  padding: 0;
}

.user-navigation {
  width: 245px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.container {
  width: 1200px;
}

.banners {
  display: flex;
  justify-content: space-between;
}

.banner-item {
  width: 540px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 20px;
  
  border-radius: 15px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;

  width: 267px;
  margin: 0;
  padding: 0;
}

.about-us-list {
  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 267px;
  margin-left: 26px;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.wrapper-about-us {
  display: flex;
}

.main-footer {
  display: flex;
  justify-content: space-between;

  width: 1200px;
}

.social-list {
  width: 147px;
  margin: 0;
  margin-left: 31px;
  padding: 0;
}

.documents-list {
  width: 326px;
  margin: 0;
  padding: 0;
}

.footer-copyright {
  width: 190px;
  margin-right: 27px;
}

.catalog-navigation,
.modal-login,
.catalog-item-cost,
.catalog-item-weight {
  display: none;
}