body {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  color: #ffffff;
 
  background-color: #849d8f;
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  padding-top: 9px;
}

.main-navigation {
  display: flex;
  width: 100%;
  min-height: 64px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-left: 27px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 540px;
  min-height: 64px;
  margin: 0;
  margin-left: 10px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.site-navigation > li {
  position: relative;
}

.site-navigation a {
  padding: 6px 13px;

  color: #ffffff;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.site-navigation > li > a:hover,
.site-navigation > li > a:focus {
  color: #333333;

  background-color: #f7f6f3;
  border-radius: 20px;
}

.site-navigation > li > a:active {
  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-navigation-currant {
  text-decoration: none;

  background-color: #d07058;
  border-radius: 20px;
  }

.site-navigation > li:hover .catalog-navigation {
  display: block;
}

.catalog-navigation {
  position: absolute;
  top: 28px;
  left: -6px;

  display: none;
  width: 103px;
  min-height: 161px;
  padding: 5px 20px;

  list-style: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-navigation a {
  display: block;
  padding: 6px 0px;

  font-weight: 400;
  color: #323232;
  text-decoration: none;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
  background-color: #fbded7;
}

.catalog-navigation a:active {
  background-color: #f6b5a5;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 428px;
  min-height: 33px;
  margin: 0;

  margin-right: 27px;
  margin-left: auto;

  list-style: none;
}

.button-navigation > a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  padding: 7px 13px;

  font-weight: 500;
  color: #ffffff;
  text-decoration: none;  

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.button-navigation > a:hover,
.button-navigation > a:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.catalog-navigation,
.user-navigation,
.contacts {
  font-size: 14px;
  line-height: 16px;
}

.input-search {
  width: 311px;
  min-height: 44px;
  margin: 20px 15px;
  padding-left: 15px;

  border-radius: 5px;
}

.section-search {
  position: relative;
}

.search-form {
  position: absolute;
  top: 4px;
  right: 2px;

  display: none;
  width: 341px;
  min-height: 84px;

  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.user-navigation > li:hover .search-form,
.user-navigation > li:hover .login-form,
.user-navigation > li:hover .basket-list {
  display: block;
}

a.search {
  width: 21px;
  height: 19px;
  padding: 5px 5px;

  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
}

a.search:hover,
a.search:focus,
a.search:active {
  background-image: url("../img/loupe-black.svg");
}

.login-link > a {
  width: 67px;
}

.login-link > a:before {
  content: " ";

  width: 21px;
  height: 19px;

  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.login-link > a:hover:before,
.login-link > a:focus:before,
.login-link > a:active:before {
  background-image: url("../img/entrance-black.svg");
}

.modal-login {
  position: relative;
}

.login-form {
  position: absolute;
  top: 4px;
  right: 1px;

  display: none;
  width: 239px;
  height: 174px;
  padding: 20px 19px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

input,
textarea { 
  padding: 13px 15px;

  border: 1px solid rgba(178, 178, 178, 0.52);
}

input:hover,
textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52)
}

.login-form input {
  width: 210px;
  margin-bottom: 20px;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.btn {
  padding: 0;

  font: inherit;
  color: inherit;

  background-color: transparent;
  border: none;
  
  cursor: pointer;
}

.button {
  padding: 11px 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
 
  background: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
              linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px 0 #ac1000;
}

.button:active {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
                    linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0px 2px 2px 0 #942718;
}

.login-link-btn {
  width: 100px;
  height: 44px;

  border-radius: 20px;
}

.user-help {
  position: absolute;

  display: inline-flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 7px;
}

a.user-help-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #323232;
  text-decoration: underline;
}

.shopping-basket a {
  min-width: 72px;
}

.shopping-basket a:before {
  content: " ";

  width: 21px;
  height: 19px;

  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.shopping-basket a:hover:before,
.shopping-basket a:focus:before {
  background-image: url("../img/basket-black.svg");
}

.shopping-basket-red > a {
  position: relative;

  width: 92px;

  color: #323232;

  background-color: #f8f7f4;
}

.shopping-basket-red > a:before,
.shopping-basket-red > a:hover:before,
.shopping-basket-red > a:focus:before  {  
  content: " ";

  width: 21px;
  height: 19px;

  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.basket-list {
  position: absolute;
  top: 62px;
  right: 100px;
  
  width: 500px;
  min-height: 220px;
  padding: 13px 18px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
} 

.modal-delete {
  width: 11px;
  height: 11px;

  background-image: url("../img/cross-small.svg");
}

.item-name {
  width: 225px;
}

.cost-a-kilo {
  color: #999999;
}

.total-sum {
  position: absolute;
  right: 15px;
  margin-top: 7px; 

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.btn-basket {
  position: absolute;
  right: 15px;
  bottom: 20px;
  width: 170px;
}

.contacts {
  display: flex;
  justify-content: flex-end;

  text-align: right;
}

.mode {
  width: 180px;
  margin-right: 27px;
}

.mode p {
  margin: 0;
  margin-bottom: 5px;
}

.phone {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.slider-item,
.slide-switches {
  list-style: none;
}

a.user-help-item:hover,
a.user-help-item:focus,
a.user-help-item:active,
a.new-article:hover,
a.new-article:focus,
a.new-article:active,
.catalog-item-title:hover,
.catalog-item-title:focus,
.catalog-item-title:active,
.documents-list a:hover,
.documents-list a:focus,
.documents-list a:active,
a.copyright:hover,
a.copyright:focus,
a.copyright:active {
  color: #e84d37;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider-title {
  margin-top: 275px;
  margin-bottom: 26px;

  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-button {
  width: 280px;

  font-size: 32px;
  line-height: 44px;

  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 50px;
}

.banners {
  display: flex;
  justify-content: space-between;
}

.banner-item {
  display: flex;
  flex-direction: column;
  width: 520px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 20px;
  
  border-radius: 15px;
}

.banner-title {
  margin: 16px 0;

  font-size: 35px;
  line-height: 41px;
}

.banner-text {
  margin: 0;
  margin-bottom: 18px;

  font-size: 18px;
  line-height: 22px;
}

.raspberries-free {
  min-height: 229px;
  margin-left: 27px;

  background-color: #661122;
  background-image: url("../img/banner-1.jpg");
  background-repeat: no-repeat;  
}

.button-banner-raspberries {
  align-self: flex-end;
  width: 165px;
  margin-top: 26px;
}

.chocolate-free {
  min-height: 229px;
  margin-right: 27px;

  background-color: #452b1f;
  background-image: url("../img/banner-2.jpg");
  background-repeat: no-repeat;
}

.button-banner-chocolate {
  align-self: flex-end;
  width: 189px;
  margin-top: 26px;
}

.catalog {
  width: 1200;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 267px;
  margin-bottom: 32px;
  margin-left: 26px;
}

.catalog-item:hover:before {
  content: " ";

  position: absolute;
  top: -7px;
  right: -13px;
  bottom: -81px;
  left: -13px;
  z-index: 3;

  display: block;

  background-color: rgba(248,247,244, 0.2);
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-item-hit:after {
  content: " ";

  position: absolute;
  top: 0px;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.catalog-item img,
.basket-table img {
  border-radius: 100%;
}

.catalog-item-cost {
  position: absolute;
  bottom: 72px;

  font-size: 45px;
  line-height: 1;

  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-cost:after {
  content: " ";

  position: absolute;
  top: 5px;
  right: -35px;

  display: inline-block;
  width: 31px;
  height: 36px;

  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
}

.catalog-item-weight {
  position: absolute;
  bottom: 67px;
  left: 113px;

  font-size: 30px;
  line-height: 45px;

  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-title {
  margin: 0;
  margin-top: -6px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  color: #ffffff; 
}

.popup {
  display: none;

  width: 200px;
  margin: 0 auto;
  margin: 11px 34px;
}

.catalog-item:hover .popup {
  position: absolute;
  z-index: 4;

  display: block;
}

.about-us {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 1125px;
  min-height: 302px;
  margin-top: 5px;
  margin-bottom: 40px;
  margin-left: 27px;
  padding-top: 5px;
  padding-left: 21px;
  
  background-color: #ede1c7;
  background-image: url("../img/about-us.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.about-us-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;  
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-item {
  display: flex;
  justify-content: space-around;
  width: 550px;
  padding-bottom: 20px;
}

.about-us-ice-cream:before {
  content: " ";

  position: absolute;
  top: 93px;
  left: 20px;

  display: block;
  width: 49px;
  height: 49px;

  background-image: url("../img/ice-cream.svg");
}

.about-us-cow:before {
  content: " ";

  position: absolute;
  top: 93px;
  right: 512px;

  display: block;
  width: 49px;
  height: 49px;

  background-image: url("../img/cow.svg");
}

.about-us-eco:before {
  content: " ";

  position: absolute;
  bottom: 77px;
  left: 20px;

  display: block;
  width: 49px;
  height: 49px; 

  background-image: url("../img/eco.svg");
}

.about-us-thermometer:before {
  content: " ";

  position: absolute;
  bottom: 77px;
  right: 512px;

  display: block;
  width: 49px;
  height: 49px;

  background-image: url("../img/thermometer.svg");
}

.about-us-text-left,
.about-us-text-right {
  font-weight: 400;
  color: #323232;

  width: 476px;
  margin: 0;
}

.about-us-text-left {
  margin-left: 35px;
}

.about-us-text-right {
  width: 470px;
  margin-left: 18px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog {
  width: 540px;
  height: 215px;
  margin-left: 27px;
  padding-top: 5px;
  padding-left: 20px;

  background-color: #ffffff;
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.blog-title {
  font: inherit;
  font-weight: 500;
  color: #323232;

  margin-bottom: 4px;
  margin-top: 17px;
}

.new-article {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.sub {
  width: 520px;
  min-height: 210px;
  margin-right: 27px;
  padding-top: 13px;
  padding-right: 22px;
  padding-left: 20px;
  
  background-color: #f8f7f4;
  border-radius: 10px; 
}

.sub-text {
  font-weight: 400;
  color: #5a5a5a; 
}

.email-to-sub {
  width: 338px;
  margin-top: 20px;

  border-radius: 5px;
}

.sub-button {
  width: 129px;
  height: 44px;
  margin-left: 10px;
}

.find-us {
  position: relative;
}

.feedback-contacts {
  position: absolute;
  top: 64px;
  right: 27px;
  z-index: 1;

  display: flex;
  flex-direction: column;
  width: 252px;
  min-height: 250px;
  padding: 27px 25px;

  background-color: #ffffff;
  border-radius: 15px;
}

.feedback-text-mini {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

address {
  padding-bottom: 19px;

  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #323232;  
}

.feedback-phone {
  padding-top: 5px;
  padding-bottom: 4px;

  font-size: 18px;
  line-height: 22px;
  color: #323232;
  text-decoration: none;
}

.feedback-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.feedback-button {
  width: 230px;
  padding: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.modal-feedback-form {
  position: absolute;
  bottom: 1515px;
  left: 380px;
  z-index: 3;

  display: none;
  width: 424px;
  padding-top: 20px;
  padding-bottom: 27px;
  padding-left: 24px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.feedback-form-title {
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.feedback-form input {
  width: 238px;
  margin-bottom: 20px;

  border-radius: 5px;
}

.feedback-form textarea {
  width: 373px;
  margin-bottom: 20px;

  border-radius: 5px;
}

.feedback-form-button {
  width: 139px;
  height: 44px;
}

.modal-close {
  width: 18px;
  height: 16px;

  background-image: url("../img/cross-big.svg");
}

.map-pin {
  position: absolute;
  top: 139px;
  left: 266px;
  z-index: 2;

  width: 80px;
  height: 140px;

  background-image: url("../img/pin.svg");
}

.main-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  width: 147px;
  margin: 0;
  margin-top: 30px;
  margin-left: 28px;
  padding: 0;

  list-style: none;
}

.social-button {
  width: 32px;
  height: 32px;
  margin-right: 11px;

  border: 3px solid rgba(255, 255, 255, 0.2);
}

a.social-button-tvit {
  display: block;

  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.7;
}

a.social-button-twit:hover,
a.social-button-twit:focus {
  background-image: url("../img/twitter.svg");
  opacity: 1;
}

a.social-button-twit:active {
  background-image: url("../img/twitter.svg");
  opacity: 0.7;
}

a.social-button-insta {
  display: block;

  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.8;
}

a.social-button-insta:hover,
a.social-button-insta:focus {
  background-image: url("../img/instagram.svg");
  opacity: 1;
}

a.social-button-instagram:active {
  background-image: url("../img/instagram.svg");
  opacity: 0.7;
}

a.social-button-fb {
  display: block;

  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.8;
}

a.social-button-fb:hover,
a.social-button-fb:focus {
  background-image: url("../img/fb.svg");
  opacity: 1;
}

a.social-button-fb:active {
  background-image: url("../img/fb.svg");
  opacity: 0.7;
}

a.social-button-vk {
  display: block;

  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  opacity: 0.8;
}

a.social-button-vk:hover,
a.social-button-vk:focus {
  background-image: url("../img/vk.svg");
  opacity: 1;
}

a.social-button-vk:active {
  background-image: url("../img/vk.svg");
  opacity: 0.7;
}

.documents-list {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 350px;
  height: 50px;
  margin: 0;
  margin-top: 25px;
  margin-left: 90px;
  padding: 0;

  list-style: none;
}

.documents-list a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: inherit;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.provider-footer-documents {
  display: flex;
  justify-content: space-around;
}

.provider-footer-documents:before {
  content: " ";

  position: absolute;
  top: 3px;
  left: -20px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  width: 210px;
  margin: 0;
  margin-top: 13px;
  margin-right: 7px;
}

.footer-copyright a,
.footer-copyright span {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.page-title {
  margin: 0;
  margin-left: 27px;

  font-size: 35px;
  line-height: 41px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-top: 23px;
  margin-left: 27px;
  padding: 0;

  list-style: none;
}

.breadcrumbs-current {
  margin-top: 4px;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

fieldset {
  border: none;
}

.sorting-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter-sorting {
  width: 194px;
}

.filter-cost {
  width: 220px;
}

.filter-fat {
  width: 415px; 
}

.filter-filler {
  width: 703px;
}

.filter-options {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-options li {
  margin-left: 14px;
}

.filter-submit {
  width: 144px;
  height: 34px;
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 30px;

  cursor: pointer;
}

.filter-submit:hover,
.filter-submit:focus {
  color: #323232;

  background-color: #ffffff;
}

.filter-submit:active {
  color: #323232;

  background-color: #ffffff;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;

  list-style: none;
}

.pagination-item a,
.pagination-item-current a {
  display: inline-block;
  min-width: 25px;
  height: 26px;
  padding: 0 2px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px; 
  text-align: center;
  vertical-align: middle;
  text-decoration: none; 
}

.pagination-item a {
  color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus  {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item a:active,
.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
  border-radius: 100%;
}

.disabled {
  opacity: 0.2;
}